.btnHome:hover{
    -fx-border-color: #660099;
    -fx-border-width: 0px 0px 3px 0px;
}

.btnShop:hover{
    -fx-background-color: #146886;
    -fx-border-width: 0px 0px 3px 0px
}

.btnProfile:hover{
    -fx-background-color: #0099ff;
-fx-border-width: 0px 0px 3px 0px
}
.btnServices:hover{
    -fx-background-color: #ff0033;
    -fx-border-width: 0px 0px 3px 0px
}

.btnEvents:hover{
    -fx-background-color: #ff9a8d;
    -fx-border-width: 0px 0px 3px 0px
}

.btnSessions:hover{
    -fx-background-color: #4a536b;
    -fx-border-width: 0px 0px 3px 0px
}

.exit:hover{
    -fx-background-color: red;
    -fx-border-width: 0px 0px 3px 0px
}

.search-box{
    -fx-background-color:#FFFFFF;
    -fx-background-radius: 100;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}

.right-bar{
    -fx-background-color: #D3D3D3;
}

.shadow{
    -fx-effect: dropShadow(three-pass-box,rgba(0,0,0,0.1), 10.0 , 0.0 , 0.0 ,10.0);
}

.chosen-fruit-card{
    -fx-background-color:  #7fe7dc;
    -fx-background-radius: 30;
}

.comboBox{
    -fx-background-color: rgba(255,255,255,0.3);
    -fx-background-radius: 30;
}

.add-btn{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 100;
}

.free-delivery-card{
    -fx-background-color: #D3D3D3;
    -fx-background-radius: 30;
}

.shopping-online-card{
    -fx-background-color: #BAEAC3;
    -fx-background-radius: 30;
}

.fruit-item{
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 30;
}